*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root {
    --bg : #5cdb95;
    --txt-color : #edf5e1;
    --nav : #05386b;
    --prime : #8ee4af;
    --sec : #379683;
    --shadow : #000;
    --btn-color : #edf5e1;
}

.light{
  --bg : #5cdb95;
  --txt-color : #edf5e1;
  --nav : #05386b;
  --prime : #8ee4af;
  --sec : #379683;
  --shadow : #000;
  --btn-color : #edf5e1;
  --btn-bg : #edf5e1;
  --btn-txt : #379683;
}

.dark{
  --bg : #0b0c10;
  --txt-color : #66fcf1;
  --nav : #1f2833;
  --prime : #66fcf1;
  --sec : #66fcf1;
  --shadow : #000;
  --btn-color : #c5c6c7;
  --btn-bg : #1f2833;
  --btn-txt : #66fcf1;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

body{
    
  font-family: 'Kaushan Script', cursive;
  background : var(--bg);

}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  margin-top : 30px;
  
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.home-header {
  display: flex;
  justify-content: space-between;
}


.parent {
    background : var(--bg);
    
}
.contact {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
  }
  .Box {
    position : relative;
    display: flex;
    box-shadow : 5px 5px 15px var(--shadow);
    border-radius : 12px;
    width : 100%;
    max-width:1100px;
    margin : 20px;
    height : 600px;
    background : var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fBox { 
    flex : 0.5;
    /* width : 50%; */
    display: flex;
    justify-content: center;
    background : var(--nav);
    align-items : center;
  }
  .fBox form {
    position: relative;
    width : 100%;
    padding : 0 0 0 75px;
  }
  
  .fBox form h2 {
    color : var(--txt-color);
    font-weight: 600;
    font-size : 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  .fBox form .iBox {
    position : relative;
    margin-bottom: 40px;
  }
  .fBox form .iBox:last-child {
    margin-bottom: 0;
  }
  .fBox form .iBox input, 
  .fBox form .iBox textarea{
    position: relative;
    background: transparent;
    width : 80%;
    color : var(--btn-color);
    border: none;
    outline: none;
    padding-bottom: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    resize: none;
  }
  .fBox form .iBox textarea {
    height : 100px;
  }
  .fBox form .iBox input[type="submit"] {
    background : var(--btn-bg);
    padding : 10px;
    margin-top: -10px;
    width : 120px;
    cursor: pointer;
    border: 2px solid var(--btn-txt);
    border-bottom-color: var(--btn-txt) !important;
    border-radius: 12px;
    color : var(--sec);
    font-size : 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
  }
  .fBox form .iBox input[type="submit"]:hover {
    background: var(--prime) !important;
    color : var(--btn-bg) !important;
    border-bottom-color: white !important;
  }
  .fBox form .iBox span {
    position : absolute;
    color : rgba(255,255,255,0.5);
    left : 0;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    transition: all 0.2s;
  }
  .fBox form .iBox input:focus ~ span, 
  .fBox form .iBox textarea:focus ~ span,
  .fBox form .iBox input:valid ~ span, 
  .fBox form .iBox textarea:valid ~ span{
    transform : translateY(-24px);
    color : var(--prime);
    font-size: 14px;
  }
  .fBox form .iBox input:focus, 
  .fBox form .iBox textarea:focus,
  .fBox form .iBox input:valid, 
  .fBox form .iBox textarea:valid {
    border-bottom-color: var(--prime) ;
  }
  .fBox form .iBox input[type="submit"]:focus,
  .fBox form .iBox input[type="submit"]:hover {
    border-bottom-color: var(--prime) !important;
  }
  .imgBx {
   flex : 0.5;
    background-image: url('/assets/Main_Bg_Img-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    height : 100%;
  }
.parent h1 {
    font-family: 'Righteous', cursive;
    font-size : 6rem;
    font-weight : 800;
    color : var(--txt-color);
    text-align : center;
}

.header{
    text-align: center;
    padding-top: 10px;
    
    height:250px;
    background:url("");

    clip-path:polygon(0 0,100% 0,100% 100%,75% 85%,50% 100%,25% 85%,0 100%);

}
.header h1{
    margin-top: 30px;
    color:var(--txt-color);
    font-size: 5em;
    margin:5px;
    text-shadow: 2px 2px 10px black;
}
.show {
    margin-top : 20px;
    margin-bottom: 20px;
    margin-left : 2px;
    margin-right : 2px; 
  }

  .card {
    box-shadow : 5px 5px 10px var(--shadow);
    height : auto;
    width : 23rem;
  }
  .card img {
    height : 250px;
  }
  .card-body {
    background : var(--txt-color);
  }
.A{
    display: flex;
    width:50%;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8JcNG7hyWep4bLRqdV1A--4kD6QU3O_SZ7w&usqp=CAU");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    color:black;
    text-shadow: 2px 2px 10px whitesmoke;
    margin-left:25%;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
    border:2px solid black;

    transition: 1s; 
}

.Display{
    flex:50%;
    padding:5px;
    border:2px solid black;
    box-shadow: 8px 8px 15px #FFFFCC;
}
.A:hover{
    transform:translateY(-5px);
    padding:5px;
    width:52%;
    color:antiquewhite;
    text-shadow: 2px 2px 10px black;

}
.collage{
    margin-top: -40px;
    margin-left: 10px;
}
#footer{
    height:150px;

}
#footer1{
    height:400px;
    margin-top:-300px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    /* margin-top:200px; */
}

input{
    padding:5px;
    border:2px solid black;
}

@media (max-width : 406px) {
  .card {
    width : 20rem;
  }
  .home-header {
    flex-direction: column;
  }
}

